@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --app-flex--gap_half: .5rem;
  --app-gutter_regular: .75rem;
  --app-gutter_large: 1rem;
  --lc-color--blue: #0438D6;
  --lc-color--pink: #FF10ED;
  --lc-color--blue-light: #436AED;
  --lc-color--orange: #FF6464;
  --lc-color--green: #A7FF00;
  --lc-color--pastel--green: #BDE4D5;
  --lc-color--pastel--yellow: #E8CC96;
  --lc-color--pastel--pink: #E4A8A8;
  --lc-color--pastel--purple: #C3BDE4;
  --lc-color--pastel--blue: #ACDEED;
  --lc-header-height: 6rem;
  --lc-header-radius: 3rem;
  --lc-radius: 2rem;
  --lc-radius--min: 1rem;
  --lc-max-width--sm: 25rem;
  --lc-max-width--reg: 30rem;
  --lc-max-width--lg: 35rem;
  font-family: "DIN Dong", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #FFF;
  background-color: #000;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.user_eshop {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.panel {
  background: none;
  border: none;
}
.panel header {
  max-width: 150rem;
  left: 50%;
  transform: translate(-50%, 0);
  top: 2rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  border-radius: var(--lc-header-radius);
  height: var(--lc-header-height);
  color: rgba(40, 40, 40, 0.2);
  background: rgba(40, 40, 40, 0.2);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  transition: all 0.5s ease;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.panel header .row {
  display: flex;
  justify-content: space-between;
}
.panel header .col-md-6 > a {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  display: flex;
  box-shadow: none;
  border: none;
}
.panel header .col-md-6 > a:before {
  width: 3.2rem;
  height: 3.2rem;
  background-position: 50% 50%;
  content: "";
  color: white;
  display: block;
  background-image: url("https://lecinematographe.ch/_nuxt/leCinematographe-icon.BcFGTGrJ.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.panel header .col-md-6 > a:after {
  width: 32rem;
  height: 3.2rem;
  content: "";
  display: block;
  background-position: 0 50%;
  background-image: url("https://lecinematographe.ch/_nuxt/leCinematographe-logo_type--white.CrLmPWLL.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.panel header .col-md-6 > a .logo {
  display: none;
}

hr {
  border-top: dotted 2px;
}

a {
  color: inherit;
  border-bottom: solid 1px;
}

.panel.panel-default .panel-body {
  padding-left: 0;
  padding-right: 0;
}
.panel.panel-default .panel-body .row .col-md-6 .badge + p {
  margin-top: 1rem;
}

.nav-tabs {
  border-bottom: dotted 2px;
}

.user_eshop.role_eshop {
  padding-top: 8rem;
}

.input-group {
  display: flex;
  width: auto;
}
.input-group .input-group-btn {
  flex-shrink: 0;
  width: auto;
}

label {
  position: relative;
}
.radio label {
  padding-left: 4rem;
}
.radio label [type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
}
.radio label [type=radio]:checked {
  background-color: var(--lc-color--blue-light);
}
label input[type=number] {
  all: unset;
  display: block;
  background: white;
  color: black;
  height: auto;
}

.poster_wrapper img {
  border: none;
  padding: 0;
  border-radius: var(--lc-radius--min);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none;
  border-style: dotted;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: inherit;
}

.tkt-ticketid_ticket {
  color: #ff6464;
}

.tkt-ticketid_id {
  color: white;
}

.btn {
  font-size: 2rem;
  padding: 0.6rem 1.3rem;
  line-height: 1em;
  box-shadow: none;
  border-radius: var(--lc-radius);
}

.btn-default {
  text-shadow: none;
  border: none;
  background: var(--lc-color--blue-light);
  color: white;
}
.btn-default:hover {
  background: white none;
  text-decoration: none;
}

.btn-success {
  background-image: none;
  background-color: var(--lc-color--blue-light);
  border: none;
  text-shadow: none;
}
.btn-success:hover {
  background-color: var(--lc-color--pastel--green);
  color: var(--lc-color--blue);
}

.btn-primary {
  background-image: none;
  background-color: var(--lc-color--blue-light);
  border: none;
  color: white;
  display: block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10rem;
  text-align: center;
}
.btn-primary:hover {
  background-color: var(--lc-color--blue);
  color: white;
  box-shadow: 0 0 5rem 0 var(--lc-color--blue);
}

.btn-danger {
  background-image: none;
  background-color: var(--lc-color--orange);
}

.btn-link {
  background: none;
  border: solid 1px;
  border-color: currentColor;
}

.thumbnail {
  border: none;
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: none;
}
.thumbnail img {
  display: block;
  border-radius: 0.5rem;
}

.film_details_row > div {
  border: none !important;
}

.film_details_row > div {
  border: none !important;
}

.film_media {
  border: none !important;
  padding: 0 !important;
}

.text-primary, .text-info {
  color: var(--lc-color--blue-light);
}

.header-menu {
  color: white;
  position: fixed;
  top: 1rem;
  right: 2rem;
}
.header-menu li + li {
  margin-left: 2rem;
}
.header-menu a {
  color: white;
  border: none;
}

.table > thead > tr > th {
  border-bottom: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
}

.table > tbody > tr {
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 1px;
}

.table-hover > tbody > tr:hover {
  background: inherit;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: transparent;
  color: white;
}

.cart-item a {
  color: inherit;
}

.alert-info {
  background-image: none !important;
  background-color: var(--lc-color--blue-light);
  color: white;
  border: none;
  text-shadow: none;
  border-radius: var(--lc-radius);
  box-shadow: none;
}

.alert-danger {
  background-image: none !important;
  background-color: var(--lc-color--orange);
  color: white;
  border: none;
  text-shadow: none;
  border-radius: var(--lc-radius);
}

.alert-dismissable .close,
.alert-dismissible .close {
  opacity: 1;
  border-bottom: none;
}

.alert-success {
  background-image: none !important;
  background-color: var(--lc-color--pastel--green);
  color: var(--lc-color--blue-light);
  border: none;
  text-shadow: none;
  border-radius: var(--lc-radius);
}

input.form-control {
  border: none;
  height: auto;
}

span.input-group-addon {
  width: auto;
  color: white;
  background: var(--lc-color--blue-light);
  border: none;
  border-top-left-radius: var(--lc-radius);
  border-bottom-left-radius: var(--lc-radius);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

input#ticket_key {
  border: none;
}

legend {
  color: white;
}

form {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.panel-heading {
  background-image: none;
  border-radius: var(--lc-radius);
}
.panel-heading a {
  text-decoration: none;
  border: none;
}
.panel-heading .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.tab-pane.movie_details_panel .col-sm-4 > a:first-child {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#book .panel-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#buy .text-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#content .text-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;
}
#content .text-right h3 {
  width: 100%;
  margin-top: 0;
}

/*# sourceMappingURL=ticket.css.map */
