@import "./var";

body.user_eshop {
  background-color: black;
  color: white;
}

.panel {
  background: none;
  border: none;

  header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--lc-header-radius);
    height: var(--lc-header-height);
    color: white;
    background: rgba(40, 40, 40, 0.2);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    transition: all .5s ease;
    padding-left: .5rem;
    padding-right: .5rem;
    background: white;

    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}
