@use "./var";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body.user_eshop {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.panel {
  background: none;
  border: none;

  header {
    top: 2rem;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    border-radius: var(--lc-header-radius);
    height: var(--lc-header-height);
    color: #28282833;
    background: rgba(40, 40, 40, 0.2);
    box-shadow: 0 4px 50px #00000080;
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    transition: all .5s ease;
    padding-left: .5rem;
    padding-right: .5rem;

    .row {
      display: flex;
      justify-content: space-between;
    }

    .col-md-6 {

       > a {
        &:before {
          position: fixed;
          top: 1.5rem;
          left: 2rem;
          width:  3.2rem;
          height: 3.2rem;
          content: '';
          color: white;
          display: block;
          background-image: url('https://lecinematographe.ch/_nuxt/leCinematographe-icon.BcFGTGrJ.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }


        .logo {
          display: none;
        }
      }
    }
  }
}

hr {
  border-top: dotted 2px;
}

a {
  color: inherit;
  border-bottom: dotted 2px;
}

.panel.panel-default {
  .panel-body {
    .row {
      .col-md-6 {
        .badge + p {
          margin-top: 1rem;
        }
      }
    }
  }
}

.nav-tabs {
  border-bottom: dotted 2px;
}

.user_eshop.role_eshop {
  padding-top: 8rem;
}

.btn-default {
  text-shadow: none;
  background: white;
  border: none;
}

.input-group {
  display: flex;
  width: auto;

  .input-group-btn {
    flex-shrink: 0;
    width: auto;
  }
}

input {
  &[type=number] {
    all: unset;
    display: block;
    background: white;
    color: black;
    height: auto;
  }
}

.poster_wrapper {
  img {
    border: none;
    padding: 0;
    border-radius: 1rem;
  }
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: none;
  border-style: dotted;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: inherit;
}

.tkt-ticketid_ticket {
  color: #ff6464;
}

.tkt-ticketid_id {
  color: white;
}

.btn-success {
  all: unset;
  background-image: none;
  background-color: #0438d6;
  border: none;
}

.btn-primary {
  all: unset;
  background-image: none;
  background-color: #0438d6;
  border: none;
  color: white;
  display: block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10rem;
  text-align: center;
}
